<% 
	include( '_include/_function.ejs' );
	$path = '';
	$active = 'top';
	$css = ['<link rel="stylesheet" href="css/top.min.css" />'];
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body class="home">
	<%- include( '_include/header.ejs' ); %>
	
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>