.subpageMv
{
    background-image: url(../img/company/archive-mv.jpg);
}
@media screen and (max-width: 780px)
{
    .subpageMv
    {
        background-image: url(../img/company/_sp/archive-mv.jpg);
    }
}

.section--panels
{
    margin-top: 80px;
    margin-bottom: 100px;
}
@media screen and (max-width: 414px)
{
    .section--panels
    {
        margin-top: 50px;
        margin-bottom: 80px;
    }
}
.section--panels .wrap
{
    max-width: 1000px;
}
.section--panels .panels
{
    display: -ms-flexbox;
    display: flex;
}
@media screen and (max-width: 414px)
{
    .section--panels .panels
    {
            flex-direction: column; 

        -ms-flex-direction: column;
    }
}
.section--panels .panels .panel
{
    width: 30%;

    list-style: none;
}
@media screen and (max-width: 414px)
{
    .section--panels .panels .panel
    {
        width: 100%;
    }
}
.section--panels .panels .panel:not(:last-child)
{
    margin-right: 5%;
}
@media screen and (max-width: 414px)
{
    .section--panels .panels .panel:not(:last-child)
    {
        margin-right: 0;
        margin-bottom: 30px;
    }
}
.section--panels .panels .panel__img
{
    line-height: 0;
}
.section--panels .panels .panel .button
{
    width: 100%;
    min-width: 0;
}
