@charset 'UTF-8';
@import url(../js/fancybox/fancybox.min.css);
.subpageMv
{
    background-image: url(../img/company/archive-mv.jpg);
}
@media screen and (max-width: 780px)
{
    .subpageMv
    {
        background-image: url(../img/company/_sp/archive-mv.jpg);
    }
}

.section
{
    position: relative;
}
.section__index
{
    font-size: 2.4em;
    font-weight: bold;
    line-height: 1;

    margin-bottom: 100px;

    text-align: center; 

    color: #d31323;
}
@media screen and (max-width: 414px)
{
    .section__index
    {
        font-size: 1.6153846154em;

        margin-bottom: 50px;
    }
}
.section .triangle
{
    position: absolute;
    z-index: -1;
}
.section .triangle--left
{
    top: 0;
    left: 0;
}
.section .triangle--right
{
    position: absolute;
    right: 0; 
    bottom: 0;
}

.innerContent
{
    padding: 80px;

    background-color: #fff;
}
@media screen and (max-width: 414px)
{
    .innerContent
    {
        padding: 30px;
    }
}

.infoContent
{
    display: -ms-flexbox;
    display: flex;

    margin-right: -40px;
    margin-left: -40px;
}
@media screen and (max-width: 414px)
{
    .infoContent
    {
            flex-direction: column-reverse; 

        -ms-flex-direction: column-reverse;
    }
}
@media screen and (max-width: 414px) and (max-width: 414px)
{
    .infoContent
    {
        margin-right: 0;
        margin-left: 0;
    }
}

.infoContent p
{
    margin-bottom: 2em;
}
.infoContent__text,
.infoContent__img
{
    margin-right: 40px;
    margin-left: 40px;
}
@media screen and (max-width: 414px)
{
    .infoContent__text,
    .infoContent__img
    {
        margin-right: 0;
        margin-left: 0;
    }
}
.infoContent__img
{
    width: 38.3333333333%; 

    -ms-flex-negative: 0;
    flex-shrink: 0;
}
@media screen and (max-width: 414px)
{
    .infoContent__img
    {
        width: 100%;
        margin-bottom: 20px;
    }
}
.infoContent__img__name
{
    font-size: .8em; 

    text-align: right;
}

.section--panels
{
    margin-top: 80px;
    margin-bottom: 100px;
}
@media screen and (max-width: 414px)
{
    .section--panels
    {
        margin-top: 50px;
        margin-bottom: 80px;
    }
}
.section--panels .wrap
{
    max-width: 1000px;
}
.section--panels .panels
{
    display: -ms-flexbox;
    display: flex;
}
@media screen and (max-width: 414px)
{
    .section--panels .panels
    {
            flex-direction: column; 

        -ms-flex-direction: column;
    }
}
.section--panels .panels .panel
{
    width: 30%;

    list-style: none;
}
@media screen and (max-width: 414px)
{
    .section--panels .panels .panel
    {
        width: 100%;
    }
}
.section--panels .panels .panel:not(:last-child)
{
    margin-right: 5%;
}
@media screen and (max-width: 414px)
{
    .section--panels .panels .panel:not(:last-child)
    {
        margin-right: 0;
        margin-bottom: 30px;
    }
}
.section--panels .panels .panel__img
{
    line-height: 0;
}
.section--panels .panels .panel .button
{
    width: 100%;
    min-width: 0;
}

.section--pickup
{
    position: relative;
}
@media screen and (min-width: 780px)
{
    .section--pickup .mind:nth-child(even)
    {
            flex-direction: row-reverse; 

        -ms-flex-direction: row-reverse;
    }
}
.section--pickup .mind:not(:last-child)
{
    margin-bottom: 80px;
}
@media screen and (max-width: 414px)
{
    .section--pickup .mind:not(:last-child)
    {
        margin-bottom: 30px;
    }
}
.section--pickup .mind__index
{
    font-size: 1.3333333333em; 
    font-weight: bold;

    margin-bottom: 30px;
}
@media screen and (max-width: 414px)
{
    .section--pickup .mind__index
    {
        font-size: 1.3076923077em;

        margin-bottom: 10px;
    }
}
.section--pickup ul li
{
    position: relative;

    padding-left: calc( 1em + 10px);

    list-style: none;
}
.section--pickup ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.section--pickup ul li:before
{
    position: absolute;
    top: 1em;
    left: 0;

    display: inline-block;

    width: 10px;
    height: 2px;

    content: ' ';

    background-color: #d31323;
}
.section--pickup .triangle
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.section--profile .corporateProfile__abload
{
    font-size: 1.3333333333em; 
    font-weight: bold;
}
.section--profile .corporateProfile__section
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: row; 

    -ms-flex-direction: row;
}
@media screen and (max-width: 414px)
{
    .section--profile .corporateProfile__section
    {
            flex-direction: column; 

        -ms-flex-direction: column;
    }
}
.section--profile .corporateProfile__section + .corporateProfile__section
{
    margin-top: 80px;
}
@media screen and (max-width: 414px)
{
    .section--profile .corporateProfile__section + .corporateProfile__section
    {
        margin-top: 50px;
    }
}
.section--profile .corporateProfile__table
{
    width: 49.4252873563%;
    margin-right: 60px;

    border-collapse: collapse;
}
@media screen and (max-width: 414px)
{
    .section--profile .corporateProfile__table
    {
        width: 100%;
        margin-right: 0;
    }
}
.section--profile .corporateProfile__table tr
{
    border-bottom: 1px solid #ddd;
}
.section--profile .corporateProfile__table th
{
    text-align: left;
}
.section--profile .corporateProfile__table th
{
    width: 90px;
    padding-right: 20px;
}
.section--profile .corporateProfile__table td,
.section--profile .corporateProfile__table th
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.section--profile .corporateProfile__table__index
{
    font-size: 1.3333333333em;
}
.section--profile .corporateProfile__table__index th
{
    padding-top: 0;
}
.section--profile .corporateProfile__img
{
    width: 50.5747126437%; 
    max-width: 440px;

    -ms-flex-negative: 0;
    flex-shrink: 0;
}
@media screen and (max-width: 414px)
{
    .section--profile .corporateProfile__img
    {
        width: auto; 
        max-width: 100%;
    }
}

.section--history .infoContent
{
        flex-direction: row-reverse; 

    -ms-flex-direction: row-reverse;
}
.section--history .historyTl
{
    position: relative; 

    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
}
.section--history .historyTl__events
{
        flex-direction: column; 

    -ms-flex-direction: column;
}
.section--history .historyTl__event
{
    position: relative;
    z-index: 1; 

    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 420px;
    margin-bottom: -30px;

    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-direction: row;
}
@media screen and (max-width: 780px)
{
    .section--history .historyTl__event
    {
        width: auto;
        margin-bottom: 30px;

        -ms-transform: translateX(-3px);
            transform: translateX(-3px);
    }
}
@media screen and (min-width: 780px)
{
    .section--history .historyTl__event:nth-child(odd)
    {
        margin-left: auto;

        -ms-transform: translateX(-7px);
            transform: translateX(-7px);
    }
}
@media screen and (min-width: 780px)
{
    .section--history .historyTl__event:nth-child(even)
    {
            flex-direction: row-reverse; 

        margin-right: auto;

        -ms-transform: translateX(7px);
            transform: translateX(7px);

        -ms-flex-direction: row-reverse;
    }
}
.section--history .historyTl__event__heading
{
    line-height: 1; 

    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
}
@media screen and (min-width: 780px)
{
    .section--history .historyTl__event:nth-child(even) .historyTl__event__heading
    {
            flex-direction: row-reverse; 

        -ms-flex-direction: row-reverse;
    }
}
.section--history .historyTl__event__marker
{
    line-height: 1;

    display: inline-block;

    box-sizing: border-box;
    width: 15px;
    height: 15px;

    vertical-align: middle;

    border: 3px solid #d31323;
    background-color: #fff;
}
@media screen and (max-width: 414px)
{
    .section--history .historyTl__event__marker
    {
        width: 8px;
        height: 8px;

        border-width: 2px;
    }
}
.section--history .historyTl__event__line
{
    display: inline-block;

    width: 20px;
    height: 1px;

    vertical-align: middle;

    background-color: #d31323;
}
@media screen and (max-width: 780px)
{
    .section--history .historyTl__event__line
    {
        margin-right: 15px;
    }
}
.section--history .historyTl__event:nth-child(odd) .historyTl__event__line
{
    margin-right: 15px;
}
@media screen and (min-width: 780px)
{
    .section--history .historyTl__event:nth-child(even) .historyTl__event__line
    {
        margin-left: 15px;
    }
}
.section--history .historyTl__event__y
{
    font-family: 'Din', sans-serif;
    font-weight: bold;
    line-height: 1.25;

    color: #d31323;
}
.section--history .historyTl__event__content
{
    margin-top: -.25em;
}
@media screen and (max-width: 780px)
{
    .section--history .historyTl__event__content
    {
        margin-left: 10px;
    }
}
.section--history .historyTl__event__content p
{
    line-height: 1.5; 

    margin-top: 0;
}
@media screen and (min-width: 780px)
{
    .section--history .historyTl__event:nth-child(odd) .historyTl__event__content
    {
        margin-left: 30px;
    }
}
@media screen and (min-width: 780px)
{
    .section--history .historyTl__event:nth-child(even) .historyTl__event__content
    {
        margin-right: 30px;
    }
}
.section--history .historyTl__line
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 3px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    background-color: #d31323;
}
@media screen and (max-width: 780px)
{
    .section--history .historyTl__line
    {
        margin-left: 0;
    }
}

.section--gallery.separateSec
{
    padding-top: 20px;

    background-color: transparent;
}
.section--gallery .section__child:not(:first-child)
{
    margin-top: 100px;
}
@media screen and (max-width: 414px)
{
    .section--gallery .section__child:not(:first-child)
    {
        margin-top: 50px;
    }
}
@media screen and (min-width: 414px)
{
    .section--gallery .wrap
    {
        max-width: 1000px;
    }
}
.section--gallery .gallery
{
    display: -ms-flexbox;
    display: flex;

    margin-right: -2.5%; 
    margin-left: -2.5%;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.section--gallery .gallery__img
{
    line-height: 1;

    max-width: 30%;
    margin-right: 2.25%;
    margin-bottom: 40px;
    margin-left: 2.25%;

    list-style: none;
}
@media screen and (max-width: 414px)
{
    .section--gallery .gallery__img
    {
        margin-right: 1.6%;
        margin-bottom: 30px;
        margin-left: 1.6%;
    }
}
.section--gallery .gallery__img.-goshikyu
{
    position: relative; 

    overflow: hidden;
}
.section--gallery .gallery__img.-goshikyu:after
{
    position: absolute;

    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    content: 'ご支給';

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
