@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////

////project settings
$gray_bg: #EFF0F1;
$gray: #666666;
$gray_lighten: #ddd;

$red : #D31323;


$instagram: #3f729b;
$twitter: #55acee;
$facebook: #3b5998;
$hatena: #008fed;



////base settings
$basefontColor : #333;
$color_link: $red;
$color_border: $gray_lighten;


////////// project setting 


