@import "colors.scss";
@import "variables.scss";
@import "mixins.scss";
////////////////////////////////////////// kaishaannai


///////////////////////////////

//module/

///////////////////////////////

.subpageMv{
    background-image: url(../img/company/archive-mv.jpg);

    @include mq( tab ){
        background-image: url(../img/company/_sp/archive-mv.jpg);    
    }
}



///////////////////////////////

//our style

///////////////////////////////

////////// section--panels

.section--panels{
    margin-top: $space_m;
    margin-bottom: $space_l;

    @include mq( sp ){
        margin-top: $space_m_sp;        
        margin-bottom: $space_l_sp;
    }

    .wrap{
        max-width: 1000px;
    }

    .panels{
        display: flex;

        @include mq(sp) {
            flex-direction: column;
        }


        .panel{
            width: percentage( 300/ 1000 );
            list-style: none;

            @include mq( sp ){
                width: 100%;
            }            


            &:not( :last-child ){
                margin-right: percentage(50/ 1000);
            
                @include mq(sp) {
                    margin-right: 0;
                    margin-bottom: $space_s_sp;
                }
            }


            &__img{
                line-height: 0;
            }


            .button{
                width: 100%;
                min-width: 0;
            }
        }
    }
}