@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

@import "modules-childpage.scss";
////////////////////////////////////////// 製品情報


///////////////////////////////

//module/

///////////////////////////////

.subpageMv{
    background-image: url(../img/products/mv.jpg);

    @include mq( tab ){
        background-image: url(../img/products/_sp/mv.jpg);    
    }
}



////////バナーリンク

.productBanner{
    display: flex;


    @include mq( sp ){
        flex-direction: column;
    }     


    &__item{
        width: 50%;
        list-style: none;
        position: relative;

        @include mq( sp ){
            width: 100%;
        } 


        &:first-child{
            @include mq( tab,min ){
                margin-right: 40px;
            }           
        }
        &:not( :first-child ){
            @include mq( sp ){
                margin-top: 20px;
            }              
        }


        a{
            display: block;

            @include mouseOver(){
                .button span:after{
                    width: 0;
                }

                .icon--play{
                    width: 0;
                }
            }
        }


        .icon--play{
            width: 1em;
            height: 1em;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            transition: transition();
            font-size: 4em;

            &:after{
                width: 100%;
                height: 100%;
               content: "\e903";
               position: absolute;
               top: 0;
               left: 0;
               color: $red;
    			@extend %iconfont;               
            }
        }


        .button{
            width: 270px;
            position: absolute;
            top: 0;
            left: 0;

            @include mq( sp ){
                width: 200px;
            }             

            span{
                padding-top: 15px;
                padding-bottom: 15px;
                text-align: left;
                color: $basefontColor;
                background-color: #ffffff;

                &:after{
                    color: $red;
                }
            }
      
        }
    
        &__index{
            font-size: $fontsize_m;
            line-height: 1;
            font-weight: bold;
            
            @include mq( sp ){
                font-size: 1em;
            }             
        }

        &__description{
            line-height: 1;
            margin-top: 1em;
            margin-bottom: 0;
            font-weight: lighter;
            // font-size: $fontsize_s;

            @include mq( sp ){
                font-size: $fontsize_s;
            }             
        }
    }

    .productBanner--movie{
        .button span:after{
            display: none;
        }
    }
}





///////////////////////////////

//カテゴリトップ

///////////////////////////////

.section--products{
    margin-top: $space_l;
    background-color: #ffffff;


    .wrap{
        @include mq( sp,min ){
            max-width: 1000px;
        }
    }


    .productBanner__item{
        .button{
            span{
                padding-top: 0;
           }
        }
    }    

}




///////////////////////////////

//製品一覧

///////////////////////////////

.section--items{

    .itemList{
        padding-left: 0;
    }

    .itemList__item{
        list-style: none;
        padding-right: 60px;
        padding-left: 60px;
        display: flex;

        @include mq( tab ){
            padding-right: 0;
            padding-left: 0;
        }            

        @include mq( sp ){
            flex-direction: column;
        }        


        &:not( :first-child ){
            border-top: 1px solid $color_border;
            padding-top: $space_s;
        }
        &:not( :last-child ) {
            padding-bottom: $space_s;
        }



        &__img{
            max-width: 210px;
            line-height: 1;
            text-align: center;

            @include mq( sp ){
                max-width: 100%;
                margin-right: $space_s_sp;
                margin-bottom: $space_s_sp;
                margin-left: $space_s_sp;
            }                
        }


        &__content{
            margin-left: $space_s;


            @include mq( sp ){
                margin-left: 0;
            }    

        }


        &__index{
            font-weight: bold;
            font-size: $fontsize_m;
            margin-bottom: 20px;


            @include mq( sp ){
                font-size: $fontsize_m_sp;
            }                
        }


        &__benefit{
            &__item{
                position: relative;
                padding-left: calc( 1em + 10px);
                list-style: none;

                &:not( :last-child ){
                    margin-bottom: 10px;
                }

                &:before{
                    content: " ";
                    width: 10px;
                    height: 2px;
                    display: inline-block;
                    position: absolute;
                    top: 1em;
                    left: 0;
                    background-color: $red;
                }
            }            
        }


        .button{
            margin-top: $space_s;

            @include mq( sp ){
                width: 100%;
            }                
        }

    }
}


.section--banner{

    .wrap{
        @include mq( sp, min ){        
            max-width: 1000px;
        }
    }

    .productBanner--main{
        .productBanner__item{
            width: auto;

            &:first-child{
                margin-right: 0;
            }

            .button{
                position: absolute;

                @include mq( sp , min ){
                    left: auto;
                    top: $space_s/2;
                    right: $space_s/2;
                }
                @include mq( sp ){
                    top: 5px;
                    right: 5px;
                }                  
            }
        }
    }


    .relatedProduct{
        line-height: 1;
        margin-top: $space_s;

        @include mq( sp ){
            margin-top: 20px;
        }          


        &__item{
            line-height: 0;
            position: relative;

            &__img{
                width: 150px;

                @include mq( sp ){
                   width: 100px;
                } 

            }

            .button{
                width: calc( 100% - 150px );
                left: 150px;
                position: absolute;
                display: flex;
                height: 100%;

                @include mq( sp ){
                    width: calc( 100% - 100px );
                    left: 100px;
                }                


                span{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    // height: 100%;
                    box-sizing: border-box;
                }
            }
        }

    }
}