@import "colors.scss";
@import "variables.scss";
@import "mixins.scss";
////////////////////////////////////////// top page


///////////////////////////////

//module/

///////////////////////////////

.section{

    position: relative;

    &--maintopic .wrap{
        @include mq( tab,min ){
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
    }


    &__index{
        width: 1em;
        // height: 1em;
        line-height: 1em;
        position: absolute;
        top: -1.5em;
        z-index: 3;
        // transform: rotate(90deg);
        font-size: $fontsize_xl;
        color: $red;
        font-family: $fontFamily_en;

        @include mq( sp ){
            font-size: $fontsize_xl_sp;
        } 

        img{
            // max-width: auto;
            // height: 100%;
        
        }
    }

    &:nth-child( odd ){
        .section__index{
            right: 0;
            transform-origin: right top;
        }
    }
    &:nth-child( even ){
        .section__index{
            left: 0;
            transform-origin: left top;
        }
    }


    &__main{
        // display: flex;
        // flex-wrap: wrap;
        position: relative;
    }



    .section__img{
        width: 50vw;
        line-height: 0;
        position: relative;
        z-index: 1;
        // position: absolute;
        // right: 0;

        @include mq( tab ){
            width: 100%;
        }


        img{
            width: 100%;
        }
    }

    &:nth-child( odd ) .section__img{
        margin-right: 0;
        margin-left: auto;
    }
    &:nth-child( even ) .section__img{
        margin-left: 0;
        margin-right: auto;
    }



    .section__detail{
        width: 75vw;
        height: 100%;
        padding-top: #{( 100/1400 * 100 )}vw;
        padding-bottom: #{( 100/1400 * 100 )}vw;
        background-color: #ffffff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 10%;

        @include mq( tab ) {
            width: 100%;
            padding: $space_s_sp;
            position: static;
        }


        &__index{
            line-height: 1.8;
            margin-bottom: $space_s;
            font-weight: bold;
            font-size: $fontsize_m;

            @include mq( 1024 ) {
                margin-bottom: $space_s_sp;
            }
            @include mq( sp ) {
                font-size: $fontsize_m_sp;
            }
        }
        &__content{
            margin-bottom: $space_s;

            @include mq( 1024 ) {
                margin-bottom: $space_s_sp;
            }
        }

        .button{
            @include mq( 768,min ){
                width: 100%;
            }
        }
    }
    &:nth-child( odd ) .section__detail{
        left: 0;
        padding-right: calc( 25vw + 10% );
        padding-left: 12.5vw;

        // @include mq(tab) {
        //     padding-right: calc(20vw + 10%);
        //     padding-left: 7.5vw;
        // }
        
        @include mq( 1024 ){
            padding-right: calc(25vw + 5%);
            padding-left: 5vw;
        }
        @include mq( tab ){
            padding-right: $space_s_sp;
            padding-left: $space_s_sp;
        }
    }
    &:nth-child( even ) .section__detail{
        right: 0;
        padding-left: calc( 25vw + 10% );
        padding-right: 12.5vw;

        // @include mq( tab ) {
        //     padding-left: calc(20vw + 10%);
        //     padding-right: 7.5vw;
        // }

        @include mq(1024) {
            padding-right: 5vw;
            padding-left: calc( 25vw + 5% );
        }

        @include mq( tab ) {
            padding-right: $space_s_sp;
            padding-left: $space_s_sp;
        }


    }


    .triangle{
        position: absolute;
        z-index: 2;

        @include mq(tab) {
            z-index: -1;
        }

    }
    &:nth-child( odd ) .triangle{
        right: 0;
        bottom: -10vw;
        @extend %tr;

        @include mq(tab) {
        }
    }
    &:nth-child( even ) .triangle{
        top: 100%;
        left: 0;
        @extend %tl;
    }



    ///// 
    &__gallery{
        // padding-top: $space_l;
        // padding-bottom: $space_l;
        padding-top: #{120/1400 * 100}vw;
        padding-bottom: #{60/1400 * 100}vw;     

        @include mq( tab ){
            padding-top: $space_l_sp;
            padding-bottom: $space_l_sp;
        }   

        .inner{
            max-width: 72.5%;
            // max-width: #{(50 + (150 / 1400 )*2)}%;
            display: flex;

            @include mq( sp ) {
                max-width: 84%;
            }
         }

        &__img{
            max-width: percentage( 300/1000 );

            @include mq( sp ) {
                max-width: 49%;
            }

            img{
                width: 100%;
            }

            &:not( :last-child ){
                margin-right: percentage( 50/1000 );

                @include mq(sp) {
                    margin-right: 2%;
                }

            }
        }
    }
    &:nth-child( odd ) .section__gallery{
        .inner{

        }
    }
    &:nth-child( even ) .section__gallery{
        .inner{
            @include mq(sp,min) {
                margin-left: auto;
                justify-content: flex-end; 
            }
        }
    }    
}



.section--sub{
    padding-top: $space_l;
    padding-bottom: $space_l;

    @include mq( sp ){
        padding-top: $space_l_sp;
        padding-bottom: $space_l_sp;
    }


    &:nth-of-type( odd ){
        background-color: #ffffff;
    }

    &__heading{
        margin-bottom: $space_m;
        text-align: center;

        @include mq(sp) {
            margin-bottom: $space_s_sp;
        }
        
    }
    &__index{
        line-height: 1;
        margin-bottom: $space_s;
        font-size: $fontsize_l;
        color: $red;
        font-weight: bold;

        @include mq(sp) {
            margin-bottom: $space_s_sp;
            font-size: $fontsize_l_sp;
        }
    }    
}



.siteHeader{
    &__logo{
        margin-top: 40px;

        @include mq(sp) {
         margin-top: 0;
        }
    }
}




///////////////////////////////

//our style

///////////////////////////////

////////// mv
.mv{

    margin-bottom: 12vw;
    position: relative;

    @include mq( sp ){
        margin-bottom: $space_l_sp;
    }

    
    .wrap{
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        top: 10vw;
        right: 0;
        left: 0;

        @include mq(sp + 1px, min) {
            width: 75vw;
            left: -5vw;
        }
        @include mq( 1921,min ){
            left: -20vw;
        }
    }


    &__copy{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // margin-left: -5%;
        // position: absolute;
        // left: -10%;


        &__en{
            max-height: 141px;
            line-height: 1;
            margin-top: 0;
            margin-bottom: 60px;

            @include mq( tab ){
                max-height: none;
            }

            @include mq( sp ){
                margin-bottom: $space_s_sp;
            }            
        }

        &__ja{
            line-height: 2;
            letter-spacing: 0.1em;
            font-feature-settings: "pkna";
            font-size: 1.1em;
            color: $red;
            writing-mode: vertical-rl;

            @include mq(sp) {
               font-size: 1.2rem;
            }
            
        }
    }

    &__img{
        width: 75vw;
        // width: 74.5vw;
        margin-left: auto;
        margin-right: 0;
        // @include mq( 1921,min ){
        //     width: 74.69vw;
        // }

        img{
            width: 100%;
        }
    }
}




////////// products
.productsBlock{
    // padding-bottom: 20px;

    @include mq(sp) {
        // padding-bottom: 40px;
    }

}



////////// recruit
.recruitBlock{
    position: relative;

    
    .wrap{
        max-width: 1000px;
        @include mq(1920, min) {
            max-width: 50%;
        }
        @include mq( tab ) {
            max-width: 84%;
        }
    }
    &__copy{
        margin-bottom: $space_s;
        font-size: $fontsize_m;
        font-weight: bold;
    }

    &__description{
        margin-bottom: $space_s;
    }


    .button{
        // margin-left: auto;
        margin-right: auto;
    }


    .triangle{
        position: absolute;
        top: 0;
        right: 0;
        transform: rotateY( 180deg );

        @include mq(sp) {
            display: none;
        }
    }
}



///////// news

.newsBlock{


    .wrap{
        max-width: 730px;
    }

    .news{
        &__item{
            list-style: none;

            &:not( :last-child ){
                margin-bottom: $space_s;

                @include mq(sp) {
                    margin-bottom: $space_s_sp - 10px  ;
                }
            }
        }

        a{
            color: $basefontColor;
        }

        .newsTable{
            display: table;
            border-collapse: collapse;

            @include mq(sp) {
               display: block;
            }

            &__time{
                display: table-cell;
                font-weight: 500;
                padding-right: 50px;

                @include mq(sp) {
                    display: block;
                    margin-bottom: 0.5em;
                }
            }

            &__index{
                display: table-cell;
                line-height: 1.75;  

                @include mq(sp) {
                    display: block;
                }
            }
        }
    }
}