@charset "UTF-8";
//////////////////////////////////////////

//default setting
//
//include by style.scss

//////////////////////////////////////////



////////////////////

// base element

////////////////////

::selection{background-color: rgba(saturate($gray , 13) , 0.3);}
html{
	font-size: $basefontSize;
	font-weight: 300;
	line-height: $baselineHeight;
	position: relative;
	font-family: $fontFamily;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	color: $basefontColor;
	background-color: $gray_bg;

	&:before,
	&:after{
		content: " ";
		height: 100%;
		margin-right: auto;
		margin-left: auto;
		display: block;
		transition: transition();
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		box-sizing: border-box;
		opacity: 0.2;
	}

	&:before{
		width: 50vw;
		border-right: 1px solid $red;
		border-left: 1px solid $red;
		z-index: -1;
	}

	&:after{
		width: 1px;
		background-color: $red;
		z-index: -1;
	}
	
}



body{
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size: 1.5rem;
	
	@include mq( sp ){
		font-size: 1.3rem;
	}
	
}

h1 , h2 , h3 , h4 , h5 , h6{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: inherit;
	font-size: inherit;
}


ul{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-position: inside;
}


dl{
	padding-left: 0;
}
dd{
	padding-left: 0;
}


figure{
	margin: 0;
}


img , iframe , object{
	max-width: 100%;
	line-height: 1;
	height: auto;
}

input , textarea{

	outline: none;

	&:focus , &:active{
		border: none;
	}
	
}



////////////////////

// link element

////////////////////

a 
{
	text-decoration: none;
	color: $color_link;
	transition: transition();
	
	&,
	img{
		border: none;
	}

	button{
		padding: 0;
		background: 0;
		border: none;
	}
	
	@include mq( tab,min ){
		@include mouseOver(){
			opacity: 0.75;
			// color: darken($link , 15);
		}	
	}
	img{		
	}
}

button{
	cursor: pointer;
	outline: none;
}

