@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

@import "modules-childpage.scss";
@import "../js/fancybox/fancybox.min.css";
////////////////////////////////////////// kaishaannai


///////////////////////////////

//module/

///////////////////////////////

.subpageMv{
    background-image: url(../img/company/archive-mv.jpg);

    @include mq( tab ){
        background-image: url(../img/company/_sp/archive-mv.jpg);    
    }
}



.innerContent{
    padding: $space_m;
    background-color: #ffffff;

    @include mq( sp ){
        padding: $space_s_sp;
    }      
}



.infoContent{
    display: flex;
    margin-right: $space_m / -2;
    margin-left: $space_m / -2;        

    @include mq( sp ){
        flex-direction: column-reverse;

        @include mq( sp ){
            margin-right: 0;
            margin-left: 0;
        }           
    }  


    p{
        margin-bottom: 2em;
    }

    &__text,
    &__img{
        margin-right: $space_m / 2;
        margin-left: $space_m / 2;

        @include mq( sp ){
            margin-right: 0;
            margin-left: 0;
        }           
    }

    &__img{
        flex-shrink: 0;
        width: percentage( 460/ 1200 );

        @include mq( sp ){
            width: 100%;
            margin-bottom: 20px;
        }           


        &__name{
            text-align: right;
            font-size: $fontsize_s;
        }
    }
}



///////////////////////////////

//our style

///////////////////////////////

////////// section--panels

.section--panels{
    margin-top: $space_m;
    margin-bottom: $space_l;
    padding-top: 0;
    padding-bottom: 0;

    @include mq( sp ){
        margin-top: $space_m_sp;        
        margin-bottom: $space_l_sp;
    }

    .wrap{
        max-width: 1000px;
    }

    .panels{
        display: flex;

        @include mq(sp) {
            flex-direction: column;
        }


        .panel{
            width: percentage( 300/ 1000 );
            list-style: none;

            @include mq( sp ){
                width: 100%;
            }            


            &:not( :last-child ){
                margin-right: percentage(50/ 1000);
            
                @include mq(sp) {
                    margin-right: 0;
                    margin-bottom: $space_s_sp;
                }
            }


            &__img{
                line-height: 0;
            }


            .button{
                width: 100%;
                min-width: 0;
            }
        }
    }
}



///////////////////////////////

//企業理念ページ

///////////////////////////////



///////// 最初の3項目
.section--pickup{

    padding-top: 0;
    
    .mind{
        &:nth-child( even ){
            @include mq( tab,min ){
                flex-direction: row-reverse;
            }
        }

        &:not( :last-child ){
            margin-bottom: $space_m;


            @include mq( sp ){
                margin-bottom: $space_s_sp;
            }
        }


        &__index{
            margin-bottom: 30px;
            font-weight: bold;
            font-size: $fontsize_m;

            @include mq( sp ){
                font-size: $fontsize_m_sp;
                margin-bottom: 10px;
            }            
        }
    }

    ul{
        li{
            position: relative;
            padding-left: calc( 1em + 10px);
            list-style: none;

            &:not( :last-child ){
                margin-bottom: 10px;
            }

            &:before{
                content: " ";
                width: 10px;
                height: 2px;
                display: inline-block;
                position: absolute;
                top: 1em;
                left: 0;
                background-color: $red;
            }
        }
    }



    .triangle{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}




////////// 社長

.section--message{
    background-color: #ffffff;
}



////////// 会社概要

.section--profile{


    .corporateProfile{

        &__abload{
            font-weight: bold;
            font-size: $fontsize_m;
        }

        &__section{
            display: flex;
            flex-direction: row;

            @include mq( tab ){
                flex-direction: column;
            }            


            & + .corporateProfile__section{
                margin-top: $space_m;

                @include mq( tab ){
                    margin-top: $space_m_sp;
                }            
            }
        }

        &__table{
            width: percentage( 430/ 870 );
            margin-right: 60px;
            border-collapse: collapse;

            @include mq( tab ){
                width: 100%;
                margin-right: 0;
            }


            tr{
                border-bottom: 1px solid $color_border;

                @include mq( tab ){
                    &:last-child{
                        border-bottom: none;
                    }
                }                
            }

            th{
                text-align: left;
            }

            th{
                width: 90px;    
                padding-right: 20px;
            }
            td,th{
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &__index{
                font-size: $fontsize_m;

                th{
                    padding-top: 0;
                }
            }


            ol{
                padding-left: 0;
                list-style-position: inside;
            }
        }

        &__img{
            flex-shrink: 0;
            max-width: 440px;
            width: percentage( 440/ 870 );

            @include mq( tab ){
                max-width: 100%;
                width: auto;
            }              
        }
    }
}



////////// 沿革

.section--history{
    .infoContent{
        flex-direction: row-reverse;
    }


    .historyTl{
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        

        &__events{
            flex-direction: column;
        }

        &__event{
            width: 480px;
            // margin-bottom: -30px;
            display: flex;
            align-items: flex-start;
            flex-direction: row;    
            position: relative;
            z-index: 1;      

            @include mq( 1124 ){
                width: auto;
                margin-bottom: $space_s_sp;
                transform: translateX( -6px );                

            }
            @include mq( sp ){
                transform: translateX( -3px );                
            }


            &:nth-child( odd ) {
                @include mq( 1125,min ){
                    margin-left: auto;
                    transform: translateX( 73px );
                }              
            }
            &:nth-child( even ) {
                @include mq( 1125,min ){
                margin-right: auto;
                transform: translateX( -72px );
                flex-direction: row-reverse;
                }
            }


            &__heading{
                display: flex;
                align-items: center;
                line-height: 1;
            }
            &:nth-child( odd ) .historyTl__event__heading{
            }
            &:nth-child( even ) .historyTl__event__heading{
                @include mq( 1125,min ){
                flex-direction: row-reverse;
                }
            }            



            &__marker{
              line-height: 1;
              display: inline-block;
              vertical-align: middle;
              width: 15px;
              height: 15px;
              box-sizing: border-box;
              border: 3px solid $red;
              background-color: #ffffff;

              @include mq( sp ){
                  width: 8px;
                  height: 8px;
                  border-width: 2px;
              }                     
            }

            &__line{
              width: 20px;
              height: 1px;
              display: inline-block;
              vertical-align: middle;
              background-color: $red;

              @include mq( 1124 ){
                margin-right: 15px;
              }              
            }
           &:nth-child( odd ) .historyTl__event__line{
                margin-right: 15px;
            }
            &:nth-child( even ) .historyTl__event__line{
                @include mq( 1125,min ){
                    margin-left: 15px;
                }              
            }              

            &__y{
                line-height: 1.25;
                font-weight: bold;
                font-family: $fontFamily_en;
                color: $red;
            }

            &__content{
                margin-top: -0.25em;

                @include mq( 1124 ){
                    margin-left: 10px;
                }

                p{
                    margin-top: 0;
                    line-height: 1.5;
                }
            }
            &:nth-child( odd )  .historyTl__event__content{
                @include mq( 1125,min ){
                    margin-left: 30px;
                }
            }
            &:nth-child( even )   .historyTl__event__content{
                @include mq( 1125,min ){
                    margin-right: 30px;
                }
            }
        }



        &__line{
            width: 3px;
            height: 100%;
            margin-right: auto;
            margin-left: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $red;

            @include mq( 1124 ){
                margin-left : 0;
            }              
        }
    }
}



///////////////////////////////

// 設備紹介

///////////////////////////////


@import '../js/fancybox/fancybox.min.css';

.section--gallery{
    &.separateSec{ 
        padding-top: 20px;
        background-color: transparent;
    }


    .wrap{
        @include mq( sp,min ){
            max-width: 1000px;
        }
    }

    .gallery{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: percentage( 50 / 1000 * -0.5  );
        margin-right: percentage( 50 / 1000 * -0.5  );

        &__img{
            max-width: percentage( 300 / 1000 );
            line-height: 1;
            margin-right: percentage( 50 / 1000 * 0.45  );
            margin-bottom: $space_s ;
            margin-left: percentage( 50 / 1000 * 0.45  );
            list-style: none ;

            @include mq( 1280 ){
                margin-right: 1.5%;
                margin-bottom: $space_s_sp;
                margin-left: 1.5%;
            }

            figcaption{
                line-height: 1;
                margin-top: 1em;
            }
        }


    }

    .galleryFooter{
        margin-top: $space_s;
        margin-bottom: 0;
        text-align: center;
        @include mq( sp ){
            margin-top: $space_s_sp;
        }
    }
}




///////////////////////////////

// テクノロジー

///////////////////////////////

.section--tech{
    padding-top: 0;
text-align: center;
}

