@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

@import "modules-childpage.scss";

@import "../js/fancybox/fancybox.min.css";
////////////////////////////////////////// kaishaannai


///////////////////////////////

//module/

///////////////////////////////

.subpageMv{
    background-image: url(../img/recruit/mv.jpg);

    @include mq( tab ){
        background-image: url(../img/recruit/_sp/mv.jpg);    
    }
}



///////////////////////////////

//our style

///////////////////////////////

.walfareInfo{
  margin-bottom: $space_s;
  text-align: center;

  @include mq('sp') {
    margin-bottom: $space_s_sp;
  }

  & + .walfareInfo{
    margin-top: $space_s;

    @include mq('sp'){
      margin-top: $space_s_sp;
    }
  }
  
  &__index{
    color: $red;
    font-weight: bold;
  }

  &__content{
    margin-top: 15px;

    a{
      color: inherit;
      text-decoration: underline;
    }
  }
}

.section--walfare{
    padding-top: 0;
    padding-bottom: 40px;
    position: relative;

    &.separateSec{
        background: transparent;
    }

    @include mq( sp ){
        padding-bottom: 20px;
    }



    .wrap{
        @include mq( tab, min ){
            max-width: 1000px;
        }
    }

    .walfarelist{
        margin-right: percentage( -20 / 1000 );
        margin-left: percentage( -20 / 1000 );
        display: flex;
        flex-wrap: wrap;

        @include mq( sp  ){
            margin-right: 0;
            margin-left: 0;
        }


        .walfare{
            width: percentage( 460/ 1000 );
            display: flex;
            flex-direction: column;
            margin-bottom: $space_s;
            margin-right: percentage( 20 / 1000 );
            margin-left: percentage( 20 / 1000 );
            list-style: none;

            @include mq( sp ){
                width: 100%;
                margin-right: 0;
                margin-bottom: $space_s_sp;
                margin-left: 0;
            }


            &__img{
                flex-shrink: 0;
                line-height: 0;

                a{
                    display: block;

                    @include mouseOver(){
                      .button span:after{
                          width: 0;
                      }

                      .icon--play{
                          width: 0;
                      }
                    }
                }


                .icon--play{
                    width: 1em;
                    height: 1em;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    transition: transition();
                    font-size: 4em;

                    &:after{
                        width: 100%;
                        height: 100%;
                    content: "\e903";
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: $red;
                        @extend %iconfont;               
                    }
                }

            }


            &__content{
                font-weight: bold;
                padding: $space_s;
                background-color: #fff;
                height: 100%; 

                @include mq( sp ){
                    padding: 20px;
                }

            }

            &__index{
                margin-bottom: $space_s;
                line-height: 1;
                color: $red;
                font-size: $fontsize_m;
                font-weight: bold;

                @include mq( sp ){
                    margin-bottom: $space_s_sp;
                    font-size: $fontsize_m_sp;
                }                
            }

            &__description{
                margin-bottom: 0;
            }
        }
    }
}



////////// 採用情報

.section--recruitinfo{
    background-color: #ffffff;


    .wrap{
        @include mq( tab, min ){
            max-width: 1000px;
        }
    }

    

    .recruitInfoTable{
        width: 100%;
        margin-top: -30px;
        border-collapse: collapse;

        &__th,
        &__td{
            padding-top: 30px;
            padding-right: 20px;
            padding-bottom: 30px;

            @include mq( sp ){
                padding-top: 20px;
                padding-right: 1em;
                padding-bottom: 20px;
            }            
        }

        &__th{
            text-align: left;
            width: 130px;
            vertical-align: top;

            @include mq( sp ){
                width: 90px;
            }
        }


        &__index{
            margin-bottom: 1em;
            font-weight: bold;
        }
        

        tr{
            border-bottom: 1px solid $color_border;

        }



        ol{
            margin-left: 0;
            padding-left: 0;
            list-style: none;
        }

        p:last-child{
            margin-bottom: 0;
        }
    }
}



///////////////////////////////

//企業理念ページ

///////////////////////////////


